<template>
    <div class="game">
        <h1>Scomo Clicker 2020</h1>
        <div class="split"> 
            <div class="left">
                <div id="do-nothing" v-on:click="do_nothing">
                    Send Thoughts and Prayers
                </div>
            </div>

            <div class="right">
                <div class="stats">
                    <h2>Stats</h2>
                    <p>Thoughts and Prayers sent: {{Math.round(money)}}</p>
                    <p>Fires extinguished: 0</p>
                </div>
                <div id="store">
                    <h2>Firefighing equipment</h2>
                    <table>
                        <tr>
                            <th>Item</th>
                            <th>Cost</th>
                            <th>ROI</th>
                            <th>Owned</th>
                            <th></th>
                        <tr>
                        <tr v-for="(item, propertyName) in items" v-bind:key=propertyName>
                            <td>{{items[propertyName].name}}</td>
                            <td>${{items[propertyName].cost}}</td>
                            <td>{{items[propertyName].return}} prayers per second</td>
                            <td>{{items[propertyName].owned}}</td>
                            <td><button @click="buy_equipment(propertyName)">Buy</button></td>
                        </tr>
                    </table>
                </div>
                <div>
                    <h2> Powerups </h2>
                    <table>
                        <tr>
                            <th>Item</th>
                            <th>Cost</th>
                            <th>Description</th>
                            <th></th>
                        <tr>
                        <tr v-for="(item, propertyName) in tricks" v-bind:key=propertyName>
                            <td>{{tricks[propertyName].name}}</td>
                            <td>${{tricks[propertyName].cost}}</td>
                            <td>{{tricks[propertyName].description}}</td>
                            <td><button @click="buy_powerup(propertyName)">Buy</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            money: 0,
            fires: 0,
            items: {
                hand_shakers: { name: 'Hand Shakes', cost: 10, return: 1, owned: 0 },
                photo_ops: { name: 'Photo Ops', cost: 100, return: 5, owned: 0},
                advertising: { name: 'Advertising', cost: 300, return: 10, owned: 0},
                oil_and_coal: { name: 'Oil and coal contracts', cost: 1000, return: 100, owned: 0 },
                empathy_consultants: { name: 'Empathy Consultants', cost: 190000, return: 1000, owned: 0 }
            },
            tricks: {
                prefilter: { name: 'Prefilter Photo Ops', cost: 50000, description: 'Prefilter people to ensure they shake hands. Doubles ROI', owned: false},
                holiday: { name: 'Holiday', cost: 100000, description: 'Clicks are worth 100 prayers', owned: false }
            }
        }
    },
    methods: {
        do_nothing: function() {
            if (this.tricks.holiday.owned) {
                this.money = this.money += 100
            } else {
                this.money = this.money + 1
            }
            let cl = document.getElementById('do-nothing').classList
            cl.remove('clicked')
            window.setTimeout(() => cl.add('clicked'), 20)
        },
        // Add up all the extra points from items
        item_loop: function() {
            let itemBonus = 0
            Object.keys(this.items).forEach((key) => {
                itemBonus += this.items[key].owned * this.items[key].return
            })
            // We run the loop 10 times per second but return is per second
            this.money += itemBonus / 10
        },
        buy_equipment: function(item) {
            if (this.money > this.items[item].cost) {
                this.money -= this.items[item].cost
                this.items[item].owned += 1
            }
        },
        buy_powerup: function(item) {
            if (this.money > this.tricks[item].cost && !this.tricks[item].owned) {
                this.money -= this.tricks[item].cost
                this.tricks[item].owned = true
            }
        }
    },
    mounted: function () {
        window.setInterval(() => {
            this.item_loop()
        }, 100)
    }
}
</script>

<style>
    .split {
        display: flex;
    }

    .left, .right {
        width: 50%;
    }

    .right, #store
     {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    #do-nothing {
        background-image: url("/scomo.png");
        user-select: none; 
        height: 300px;
        width: 400px;
    }
    .clicked {
        animation-duration: 0.2s;
        animation-name: bop;
    }

    @keyframes bop {
        from {
            transform: scale(1);
        }

        25% {
            transform: scale(0.9);
        }

        to {
            transform: scale(1);
        }
    }
</style>