<template>
    <div class="welcome">
        <h1> Scomo Clicker 2020 </h1>
        <p> Help Scott Morison put out the Austraian bushfires using the most effective methods he knows </p>
        <button v-on:click='start'>Start</button>
        <h2> Authorized by the department of Genuine Satire </h2>
    </div>
</template>

<script>
export default {
    methods: {
        start: function () {
            this.$emit('start')
        }
    }
}
</script>