<template>
  <div id="app">
    <Welcome v-if="!inGame" v-on:start="start" />
    <Game v-if="inGame" />
  </div>
</template>

<script>
import Welcome from './components/Welcome.vue'
import Game from './components/Game.vue'

export default {
  name: 'app',
  components: {
    Welcome,
    Game
  },
  data() {
    return {
      inGame: false
    }
  },
  methods: {
    start: function () {
      this.inGame = true
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
